.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.badge img {
    width: 20px;
    height: 15px;
}