.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 20px 0;
}

.burgerMenuWrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  column-gap: 15px;
}

.navLink {
  white-space: nowrap;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.searchBar {
  position: relative;
  min-width: 230px;
  background-color: #f0f0f0;
  border-radius: 50px;
}

.searchBar img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  height: inherit;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 0 10px 40px;
}

.userButtons {
  display: flex;
  column-gap: 20px;
}

.userButtons a,
.userButtons button {
  width: 30px;
  height: 30px;
}

.userButtons button img,
.userButtons a img {
  width: 100%;
  height: 100%;
}

.burgerMenu {
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
}

.burgerMenu span,
.burgerMenu::after,
.burgerMenu::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.burgerMenu.active::before {
  transform: rotate(45deg);
  top: 50%;
}

.burgerMenu.active::after {
  transform: rotate(-45deg);
  top: 50%;
}

.burgerMenu::before {
  top: 0;
}

.burgerMenu span {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.burgerMenu.active span {
  transform: translateY(-50%) scaleX(0);
}

.burgerMenu::after {
  top: 100%;
  transform: translateY(-100%);
}

.searchButton {
  display: none;
}

@media (max-width: 1040px) {
  .header {
    padding: 10px 0;
  }

  .logo {
    font-size: 1.5rem;
  }

  .burgerMenu {
    display: flex;
  }

  .searchButton {
    display: flex;
  }

  .navigation {
    position: absolute;
    top: 50px;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
    width: calc(100% - 100px);
    background-color: white;
    height: 0;
    overflow: hidden;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s ease;
  }

  .navigation.active {
    height: 160px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .searchBar {
    position: absolute;
    width: calc(100% - 100px);
    height: 0px;
    top: 50px;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
    border-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.5s ease;
  }

  .search {
    border-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .searchBar.active {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 420px) {
  .navigation {
    width: calc(100% - 30px);
  }
  .searchBar {
    width: calc(100% - 30px);
  }
}
