.clothesPages {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.clothesPages .prev,
.clothesPages .next {
    display: flex;
    column-gap: 8px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.clothesPages .prev:hover,
.clothesPages .next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.pagesButtons {
    display: flex;
    column-gap: 10px;
}

.pagesButtons button {
    padding: 10px 15px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    transition: all 0.3s ease;
}

.pagesButtons button:hover,
.pagesButtons button.active {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}